
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/View1.cshtml";
}

<div class="body-introduce">
    <div class="introduce-wrapper">
        <h1>Cửa hàng LAPTOP ĐỨC ANH </h1>
        <div class="introduce1">
            <h4>Giới thiệu về cửa hàng:</h4>
            <span>LAPTOP ĐỨC ANH là doanh nghiệp được thành lập ngày 10/5/1997.</span><br>
            <span>Cửa hàng có trụ sở tại số 7 phố Đặng Thái Thân, phường Phan Chu Trinh, quận Hoàn Kiếm, thành phố Hà Nội.</span>
            <div class="image-introduce">
                
                <img src="~/Theme/images/khuyenmai.png" />
            </div>
        </div>
        <div class="introduce2">
            <h4>Ngành nghề kinh doanh, sản phẩm dịch vụ:</h4><br>
            <p>Là cửa hàng chính hãng của Công ty Việt Nam- Chuyên kinh doanh LAPTOP, cung cấp dịch vụ sau bán hàng và phụ tùng chính hãng.</p><br>
            <p>
                Trong những năm kinh doanh, bước đầu cửa hàng cũng đã đạt được một số thành tựu:<br>
                – 8 năm liên tục (1998 – 2005), năm 2007, 2010 là đại lý xuất sắc nhất  Việt Nam về các mặt bán hàng, dịch vụ, làm hài lòng khách hàng.<br>
                – Là đại lý đầu tiên đạt doanh số bán 1000 chiếc/năm vào năm 2020<br>
                – Là đại lý đầu tiên đạt doanh số bán 2000 chiếc/năm vào năm 2023<br>
                – Là đại lý đầu tiên đạt doanh số bán lũy tiến 5000 chiếc vào tháng 06/2025<br>
                – Là đại lý đầu tiên đạt doanh số  bán lũy tiến 10.000 chiếc vào giữa năm 2036.<br>
            </p><br>
            <p>
                Với 2.500m2 bao gồm kho hàng phòng trưng bày , phòng chờ cho khách hàng, phòng cố vấn dịch vụ,
                phòng phụ tùng… với đầy đủ trang thiết bị hiện đại chắc chắn sẽ mang lại cho khách hàng sự hài lòng và thoải mái
                khi đến với chúng tôi.
            </p>
            <h4><b>Mọi chi tiết chương trình khuyến mại xin liên hệ ĐỨC ANH  ĐẸP ZOAI: 0988937058</b></h4>
        </div>
    </div>
</div>
