
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/View1.cshtml";
}



<!-- PRODUCT SECTION -->
<section class="container section-3">
    <div class="title-productt">
        <h1>.................................   SAMSUNG </h1>
    </div>
</section>




<br />
<hr />
<br />
<!-- PRODUCT SECTION -->


        @Html.Action("samsung", "SanPham")






<br />
<br />






<br />
<hr />
<br />



<br />
<!-- PRODUCT SECTION -->
<section class="container section-3">
    <div class="title-productt">
        <h1>.................................   DELL </h1>
    </div>
</section>
@Html.Action("DELL", "SanPham")



<br />
<hr />




<br />
<hr />




<br />
<!-- PRODUCT SECTION -->
<!-- PRODUCT SECTION -->
<section class="container section-3">
    <div class="title-productt">
        <h1>.................................   HP </h1>
    </div>
</section>

@Html.Action("HP", "SanPham")







<br />
<hr />
<!-- PRODUCT SECTION -->
<section class="container section-3">
    <div class="title-productt">
        <h1>.................................   MACBOOK </h1>
    </div>
</section>

@Html.Action("MAC", "SanPham")







<br />
<hr />
