

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dang Nhap</title>

    <link href="~/Areas/Admin/MauMe/Content/animate.css" rel="stylesheet" />

    <link href="~/Areas/Admin/MauMe/Content/style.css" rel="stylesheet" />
</head>




<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">ANH</h1>

            </div>
            <h3> SHOP ĐIỆN THOẠI THÔNG MINH  </h3>

            <form action="~/Admin/Home/DangNhap" method="post">
                <label>Tên đăng nhập </label>
                <input name="username" placeholder="Username" required="" />

                <br />
                <br />
                <label>Mật khẩu </label>
                <input style="margin-left:35px" name="password" placeholder="Password" required="" />
                <br /> <br />
                <input type="submit" value="Đăng nhập " />


            </form>
            <br />
            <p class="m-t"> <small>Bản quyền thuộc Nguyễn Đức Anh &copy; 2022</small> </p>
        </div>
    </div>



</body>

</html>