
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.title</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/Theme/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Theme/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="~/Theme/css/anhtb.css" rel="stylesheet" />
<link href="~/Theme/css/dathang.css" rel="stylesheet" />
<link rel="icon" href="~/Theme/images/logo1.jpg" type="image/jpg">
<script src="~/Theme/js/app.js"></script>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/Theme/js/web.js"></script>


<body>
    <div class="wrapper">
        <header>
            <div class="header-wrapper">
                <div class="box-logo_mail flex-row">
                    <div class="logo">

                        <img src="~/Theme/images/logoCC.png" />
                    </div>      @Html.Action("siu", "Home")
                    @*
                        <div class="phone-mail">
                            <div class="phone">



                                <div class="title">
                                    <span>Tư vấn bán hàng</span>
                                 <p> ómdocmo </p>
                                </div>



                            </div>
                            <div class="mail">

                                <div class="title">
                                    <span>Gửi email liên hệ</span>
                                    <p>colenanoi123@gmail.com</p>
                                </div>
                            </div>
                        </div> *@
                </div>
                <div class="box-menu">
                    <div class="menu-wrapper">
                        <ul>
                            <li id="trangchu"><a href="~/Home/Home">Trang Chủ</a></li>
                            <li id="gioithieu"><a href="~/LienHe/GioiThieu">Giới Thiệu</a></li>
                            <li><a href="~/SanPham/TrangDanhSachSanPham">Sản Phẩm</a></li>


                            <li id="newcar"><a href="~/SanPham/SanPhamNoiBat">Sản Phẩm Nổi Bật</a></li>
                            <li><a href="~/SanPham/SanPhamGiaRe">Giá Rẻ</a></li>
                            <li id="news"><a href="~/TinTuc/TinTuc">Tin tức</a></li>
                            <li id="contact"><a href="~/LienHe/LienHe">Liên hệ</a></li>
                            <li style="margin-left:145px;" id="installment"><a style="display:flex;margin-top:20px;" href="~/GioHang/ShowToCart"><div style=" transform: rotate(-90deg); transform-origin: top left;margin-top:25px;"><i class="fa fa-shopping-cart"></i></div><div> Giỏ hàng</div></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <br />
        <br />
        <div class="box-product">
            <div class="box-product-item">
                <div class="product-top">
                    <h1> </h1>


                    @using (Html.BeginForm("Search", "SanPham", FormMethod.Get))
                    {

                        <div class="search">
                            <input name="searchQuery" type="text" placeholder="tìm kiếm ..." id="search" class="search">
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    }


                </div>
                <hr />

                <div class="products">


                    @RenderBody()




                </div>
            </div>
        </div>
        <footer>
            <div class="footer1">


                <div class="footer1-left">
                    <h1>
                        Công ty NOKIA
                    </h1>
                    <h3>
                        <b>Công ty NOKIA </b> là doanh nghiệp được thành lập ngày 1/3/2023.<br>
                        Địa chỉ: Số 7 phố Đặng Thái Thân, phường Phan Chu Trinh, quận Hoàn Kiếm, thành phố Hà Nội
                    </h3>
                    <p>Hotline : 113</p>
                </div>




                <div class="footer1-right">
                    <div class="left">
                        <h2>giới thiệu</h2>
                        <ul>
                            <li id="gioithieuFooter">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                                </svg>
                                <a href="#">Giới thiệu
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                                </svg>
                                <a href="#">Sản phẩm</a>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                                </svg>
                                <a href="#">Bảng giá</a>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                                </svg>
                                <a href="#">Tin tức</a>
                            </li>
                        </ul>
                    </div>
                    <div class="right">
                        <h2>chính sách</h2>
                        <ul>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                                </svg>
                                <a href="#">Chính sách bán hàng</a>
                            </li>
                            <li id="installmentFooter">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                                </svg>
                                <a href="#">Mua trả góp</a>
                            </li>
                            <li id="newcarFooter">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                                </svg>
                                <a href="#">Giá mới</a>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                                </svg>
                                <a href="#">Tài chính bảo hiểm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer2">
                <div class="footer2-content">

                    <p><i class="fa-solid fa-gear"></i>MSV:20810340224 - NGUYỄN ĐỨC ANH - D15CNPM4 | MSV:20810340229 - PHẠM ĐĂNG KHÁNH - D15CNPM4 </p>
                </div>
            </div>
        </footer>
    </div>
    <div class="phoneFixed">
        <div class="phone-wrapper">
            <i class="fa-solid fa-phone"></i>
        </div>
    </div>


    <script src="../js/product.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script>
        $(window).on('load', function (event) {
            $('body').removeClass('preloading');
            $('.loader-wrapper').delay(1000).fadeOut('fast');
        });
    </script>
</body>




